* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    
    
    height: 200px;
    width: 600px;
}

.text {
    display: flex;
    text-align: center;
}

.title {
    display: flex;
    text-align: center;
}

.container {
    width: 1200px;
    margin: 30px auto;
    background-color: white;
    height: 1000px;

}

h2 {
    margin: 10px 0;
}

card {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    
    
}

